.react-datepicker__header {
  background-color: transparent;
  border-bottom: none;
}

h2.react-datepicker__current-month {
  padding: 0.5rem;
  border: solid 1px #f3f3f3;
  border-radius: 0.25rem;
  width: 90%;
  margin: auto;
}

.react-datepicker__navigation {
  height: 70px;
}

.react-datepicker {
  width: 175%;
}

.react-datepicker__month-container {
  width: 100%;
  padding: 0.5rem; /* Add padding to the month container */
}

.react-datepicker__day-names,
.react-datepicker__week {
  margin-bottom: auto;
  display: flex;
  justify-content: space-around;
}

.react-datepicker__day-names > div,
.react-datepicker__week > div {
  width: 3rem;
  margin: auto;
  line-height: 3rem;
}

.react-datepicker__day {
  margin: 0.2rem; /* Increase spacing between days */
  border-radius: 50%; /* Make the day cells round */
}

.react-datepicker__day--selected {
  background-color: transparent;
  border: 1px solid #000000;
  color: #000000; /* Customize selected date text color */
  border-radius: 50%; /* Ensure selected day remains round */
}

.react-datepicker__day:hover {
  background-color: transparent;
  border: 1px solid gray;
  color: #000000; /* Customize selected date text color */
  border-radius: 50%; /* Ensure selected day remains round */
}

/* Mobile view */
@media (max-width: 576px) {
  .react-datepicker {
    width: 100%;
  }

  .react-datepicker__navigation {
    width: 20px;
  }

  .react-datepicker__day {
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
  }
}
